@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.btn {
    padding: 14px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

.btn-container {
    text-align: center;
}
#hero {
    height: 577px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 908px;
    margin: 0 auto;
}
#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 10px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 15px ;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15.5px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}

.card-box {
    width: 780px;
    margin: 100px auto;
    box-sizing: border-box;
}

.card-box .subtitle2 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6px;
    margin-bottom: 16px;
}

.card-box .title2 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Work Sans", sans-serif;
}

.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box  {
    width: 100%;
}

.card .image-box img {
    max-width: 250px;
}

.card .shop {
   padding: 10px 18px 10px 18px;
   border-radius: 8px;
   background: rgba(82, 195, 3, 0.15);
   font-weight: 600;

}

.card .para {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.card .headsa {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}


/* 
.select-contentbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; 
    border: 2px solid #007BFF; 
}

.half {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.select-imagebar img {
    width: 100%;
    height: auto;
    border-right: 2px solid #007BFF;
}
 */


 
.select-contentbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; 
    border: 2px solid #ffffff; 
    font-family: "Work Sans", sans-serif;

}

.half {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.select-imagebar img {
    width: 100%;
    height: auto;
    border-right: 2px solid #feffff;
}

.select-contactbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.select-contactbar h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 33px;
}

.select-contactbar p {
    margin-bottom: 20px;
}

.social-media {
    margin-top: 20px;
}

.social-media p {
    font-weight: 500;
    font-size: 23px;
    padding: 21px 7px 21px 7px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    min-width: 150px;
}


.flex-list {
    display: flex;
    flex-direction: row; /* Items are in a row */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    gap: 5px; /* Space between items */
}

.flex-item {
    min-width: 40px;
    font-size: 25px;
}


.footer {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}